<html lang="en">

<head>
    <meta name="robots" content="noindex">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <title>Codle - credits</title>
</head>

<body>
    <div style="display:table;width: 100%; height: 100%;">
        <div style="display:table-cell;vertical-align:middle;">
            <div style="text-align:center;">
                <img src="../static/favicon.ico" alt="">
                <h1>Codle</h1>
                <p>
                    programming -- paulo punsalan<br>
                    art & design -- roi saliva<br>
                    additional research -- lian abellanosa & khylee mendiola<br>
                </p><br>
                <h1>Inspired by the game 'Wordle'</h1>
                <p>by Josh Wardle</p>
                <a href="/">go back</a>
            </div>
        </div>
    </div>
</body>

</html>